<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carole.secure.system.mapper.SysMenuMapper">

    <insert id="insert">
        INSERT INTO sys_menu (id, parent_id, menu_name, menu_type, icon, order_num, perms, component, status)
        VALUES (#{param.id},
                #{param.parentId},
                #{param.menuName},
                #{param.menuType},
                #{param.icon},
                #{param.orderNum},
                #{param.perms},
                #{param.component},
                #{param.status})
    </insert>

    <update id="updateMenuInfo">
        UPDATE sys_menu
        SET parent_id = #{param.parentId},
            menu_name = #{param.menuName},
            menu_type = #{param.menuType},
            icon      = #{param.icon},
            order_num = #{param.orderNum},
            perms     = #{param.perms},
            component = #{param.component},
            `status`  = #{param.status}
        WHERE id = #{param.id}
    </update>

    <delete id="delete">
        DELETE
        FROM sys_menu
        WHERE id = #{id}
    </delete>

    <select id="getMenuInfoByPage" resultType="com.carole.secure.system.model.dto.SysMenuDTO">
        SELECT m.id,
               m.parent_id,
               m.menu_name,
               m.menu_type,
               m.icon,
               m.order_num,
               m.perms,
               m.component,
               m.status,
               IF(COUNT(c.id) > 0, true, false) AS hasChildren,
               m.create_time
        FROM sys_menu m
                 LEFT JOIN sys_menu c ON m.id = c.parent_id
        WHERE m.parent_id = #{param.parentId}
        GROUP BY m.id,
                 m.parent_id,
                 m.menu_name,
                 m.menu_type,
                 m.icon,
                 m.order_num,
                 m.perms,
                 m.component,
                 m.status,
                 m.create_time
        ORDER BY m.order_num
    </select>

    <select id="getMenuTableInfo" resultType="com.carole.secure.system.model.pojo.SysMenu">
        SELECT id,
               parent_id,
               menu_name,
               order_num,
               status
        FROM sys_menu
    </select>

    <select id="checkMenuNameIsExist" resultType="java.lang.Boolean">
        <![CDATA[
        SELECT COUNT(id)
        FROM sys_menu
        WHERE menu_name = #{menuName}
        ]]>
    </select>

    <select id="checkMenuHasChildren" resultType="java.lang.Boolean">
        <![CDATA[
        SELECT COUNT(id)
        FROM sys_menu
        WHERE parent_id = #{id}
        ]]>
    </select>
</mapper>

